<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block bootstrap %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/stylePublic.css') }}">
</head>
<body>
    <header>
        <section>
            <section>
                <div class="logo"><img src="{{ asset('images/logo.jpg') }}" alt="logo"></div>
                <h1>MyDesign</h1>
                <div id="usermenu">
                    <i class="fa-regular fa-user" id="profil"></i>
                    <nav id="userconnexion">
                        <ul id="connexionInscription">
                            {% if app.user %}
                                <li><a href="{{ path('user_home')}}">Profil</a></li>
                                <li><a href="{{ path('app_logout') }}">Deconnexion</a></li>
                            {% else %}
                                <li><a href="{{ path('app_login') }}">Connexion</a></li>
                                <li><a href="{{ path('user_insert') }}">Inscription</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <nav class="navReseauxSociaux">
                    <ul>
                        <li><a href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2F%3Flocale%3Dfr_FR"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://x.com/?lang=fr&mx=2"><i class="fa-brands fa-square-x-twitter"></i></a></li>
                    </ul>
                </nav>
            </section>
            <!--<section>-->
                <div id="menuBurgerHeader" class="menuBurger"><i class="fa-solid fa-bars"></i></div>
                <nav id="navMenu">
                    <ul>
                        <li><a href="{{ path('index') }}#home">Accueil</a></li>
                        <li><a href="{{ path('category_all') }}#categoryTitle">Catégorie</a></li>
                    </ul>
                </nav>
            <!--</section>-->
            <!-- Rajouté action="{# {{ path('') }} #}"
            <form method="post" id="formHeader">
                <input type="search">
                <input type="submit" value="Rechercher">
            </form> -->
        </section>
        <div id="backgroundImage"></div>
        {% for message in app.flashes('success') %}
            <h2 class="flashSuccess">{{ message }}</h2>
        {% endfor %}
        {% for message in app.flashes('fail') %}
            <h2 class="flashFail">{{ message }}</h2>
        {% endfor %}
    </header>

{% block content %}

{% endblock %}

    <footer>
        <nav>
            <ul>
                <li><div class="logo"><img src="{{ asset('images/logo.jpg') }}" alt="logo"></div></li>
                <li id="menuBurgerFooter" class="menuBurger"><i class="fa-solid fa-bars"></i></li>
                <li id="menuFooter">
                    <ul>
                        <li><a href="" class="navFooter">Condition générales</a></li>
                        <li><a href="" class="navFooter">Nous contacter</a></li>
                    </ul>
                </li>
                <li>
                    <ul class="navReseauxSociaux">
                        <li><a href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2F%3Flocale%3Dfr_FR"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://x.com/?lang=fr&mx=2"><i class="fa-brands fa-square-x-twitter"></i></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </footer>
    <script src="{{ asset('js/main.js') }}"></script>
</body>
</html>