{% extends 'publicView/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}

    <main id="home">
        <section>
            <h2>Dernière mise en ligne</h2>
            <div class="decorativeFeature"></div>
            <article class="illustrationHome">
                {% for illustration in illustrations %}
                    <div class="thumbnail thumbnailHome">
                        <div class="DivImg">
                            <img src="{{ asset('uploadThumbnail/'~ illustration.thumbnail) }}"
                                 alt="{{ illustration.name }}">
                        </div>
                        <div>
                            <h3>{{ illustration.name }}</h3>
                            {% if illustration.user.pseudo %}
                                <h3>{{ illustration.user.pseudo }}</h3>
                            {% else %}
                                <h3>{{ illustration.user.firstname }}</h3>
                            {% endif %}
                            <div class="illustrationCategory">
                                {% if illustration.category is not empty %}
                                    {% for category in illustration.category%}
                                        <p>{{ category.libelle }}</p>
                                        <p> / </p>
                                    {% endfor %}
                                {% else %}
                                    <p>Sans catégorie</p>
                                    <p>.</p>
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <a href="{{ path('public_illustration', {'id': illustration.id}) }}#oneIllustration" class="OpenThumbnail">Voir illustration</a>
                        </div>
                    </div>
                {% endfor %}
            </article>

            <div class="visitCategory">
                <p><a href="{{ path('illustration_all') }}#titreAllIllustration">Voir les dernières illustrations</a></p>
            </div>
            <!--<h2><a href="">Les plus visités de la semaines</a></h2>
            <article class="illustrationHome">
            </article>
            <h2><a href="">Les plus visités</a></h2>
            <article class="illustrationHome">
            </article>-->
        </section>
    </main>

{% endblock %}