{% extends 'publicView/base.html.twig' %}

{% block title %}{{ illustration.name }}{% endblock %}

{% block content %}

    <main>
        <section class="userIllustration">
            <div><img src="{{ asset('uploadThumbnail/'~ illustration.thumbnail) }}" alt="{{ illustration.name }}"></div>
            <div id="h3OneIllustration">
                <h3>{{ illustration.name }}</h3>
                {% if illustration.user.pseudo %}
                    <h3>{{ illustration.user.pseudo }}</h3>
                {% else %}
                    <h3>{{ illustration.user.firstname }}</h3>
                {% endif %}
            </div>
            <p id="contentIllustration">{{ illustration.description }}</p>
        </section>
    </main>

{% endblock %}