{% extends 'publicView/base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}

    <main id="userIllustration">
        <section class="userIllustration">
            <div><img src="{{ asset('uploadThumbnail/'~ illustration.thumbnail) }}" alt="{{ illustration.name }}"></div>
            <div>
            <h3>{{ illustration.name }}</h3>
                {% if illustration.user == user %}
                    <div id="updateDelete">
                        <p><a href="{{ path('user_update_illustration', {'id': illustration.id}) }}">Modifier</a></p>
                        <p data-id="{{ illustration.id }}" class="falseDelete">Supprimer</p>
                        <p class="trueDelete" id="deleteIllustration{{ illustration.id }}">êtes-vous sûr de vouloir supprimer l'article?<br><br><a href="{{ path('user_delete_illustration', {id: illustration.id}) }}">Oui</a>
                            <a href="{{ path('user_home') }}">Non</a></p>
                    </div>
                {% endif %}
            </div>

            <div class="illustrationCategory">
                {% if illustration.category is not empty %}
                    <p><span class="categoryDescription">Catégorie: </p>
                    {% for category in illustration.category%}
                        <p>{{ category.libelle }}</p>
                        <p> / </p>
                    {% endfor %}
                {% else %}
                    <p><span class="categoryDescription">Catégorie: </span>Sans catégorie</p>
                    <p>.</p>
                {% endif %}
            </div>

            <p id="contentIllustration"><span class="categoryDescription">Description: </span>{{ illustration.description }}</p>
        </section>
    </main>

{% endblock %}