{% extends 'publicView/base.html.twig' %}

{% block title %}Accueil utilisateur{% endblock %}

{% block content %}

    <main>
        <section id="pageUser">
            <div id="newIllustration">
                <div id="logoUser"><img src="{{ asset('images/logo.jpg') }}" alt="logo"></div>
                <a href="{{ path('user_insert_illustration') }}">Nouvelle illustration</a>
            </div>
            <nav id="navUser">
                <ul>
                    {% if app.user.pseudo %}
                        <li><p>{{ app.user.pseudo }}</p></li>
                    {% else %}
                        <li><p>{{ app.user.firstname }}</p></li>
                    {% endif %}
                    <li>
                        <ul id="reseauxUser">
                            <li><a href="">Messagerie</a></li>
                            <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-square-x-twitter"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <h2>Toutes les créations</h2>
            <div class="decorativeFeature"></div>
            <article id="userThumbnail">
                {% for illustration in illustrations %}
                    <div class="thumbnail thumbnailHome">
                        <div class="DivImg">
                            <img src="{{ asset('uploadThumbnail/'~ illustration.thumbnail) }}"
                                 alt="{{ illustration.name }}">
                        </div>
                        <div>
                            <h3>{{ illustration.name }}</h3>
                            <div class="illustrationCategory">
                                {% if illustration.category is not empty %}
                                    {% for category in illustration.category%}
                                        <p>{{ category.libelle }}</p>
                                        <p> / </p>
                                    {% endfor %}
                                {% else %}
                                    <p>Sans catégorie</p>
                                    <p>.</p>
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <a href="{{ path('user_illustration_one', {'id': illustration.id}) }}#userIllustration" class="OpenThumbnail">Voir illustration</a>
                        </div>
                    </div>
                    {# {% if illustration.user == user %}
                        <div class="thumbnail">
                            <a href="{{ path('user_illustration_one', {'id': illustration.id}) }}">
                                <img src="{{ asset('uploadThumbnail/'~ illustration.thumbnail) }}" alt="{{ illustration.name }}">
                            </a>
                        </div>
                    {% endif %}  #}
                {% endfor %}
            </article>

            <article id="updateDeleteUser">
                <p><a href="{{ path('update_user') }}">Modifier profil</a></p>
                <p data-id="" class="falseDelete">Supprimer profil</p>
                <p class="trueDelete" id="deleteIllustration">êtes-vous sûr de vouloir supprimer l'article?<br><br><a href="{{ path('delete_user') }}">Oui</a>
                    <a href="{{ path('user_home') }}">Non</a></p>
            </article>

        </section>
    </main>

{% endblock %}